<div class="demo-drawer mdl-layout__drawer mdl-color-text--blue-grey-50 mdl-color--grey-900">
  <header class="mdl-color--blue-grey-900 mdl-color-text--blue-grey-50">

    <div class="brand-logo p-20">
        <img src="img/svg/logo.svg" alt="Logo ENSIMAG">
    </div>
  </header>

  <ul ml-menu close-others="false" class="demo-navigation mdl-navigation">
    <ml-menu-item>
      <a class="mdl-navigation__link" href="#/chart"><i class="mdl-color-text--blue-grey-400 material-icons">insert_chart</i>Graphique</a>
    </ml-menu-item>

    <div class="mdl-navigation__link" ng-controller="selectPartiController">
      <ui-select ng-model="parti.selected" theme="select2" title="Choisir un parti" search-enabled="true">
        <ui-select-match placeholder="Parti choisi">{{$select.selected.nomL}}</ui-select-match>
         <ui-select-choices repeat="parti in partis | filter: $select.search" ng-click="updateParty(parti)">
           <div ng-bind-html="parti.nomL | highlight: $select.search"></div>
         </ui-select-choices>
      </ui-select>
    </div>


    <div class="mdl-navigation__link" ng-controller="SelectCritereController">
      <ui-select ng-model="criteria.selected" theme="select2" title="Choisir un critère">
        <ui-select-match placeholder="Critère choisi">{{$select.selected.name}}</ui-select-match>
        <ui-select-choices repeat="criteria in criterias | filter: $select.search" refresh="updateCriteria(criteria)" refresh-delay="0" ng-click="updateCriteria(criteria)">
          {{ criteria.name }}
        </ui-select-choices>
      </ui-select>
    </div>

    <ml-menu-item>
      <a class="mdl-navigation__link" href="#/map"><i class="mdl-color-text--blue-grey-400 material-icons">location_on</i>Carte des résultats</a>
    </ml-menu-item>
    <ml-menu-item>
      <a class="mdl-navigation__link" href="#/about"><i class="mdl-color-text--blue-grey-400 material-icons">info</i>À propos</a>
    </ml-menu-item>
  </ul>
</div>
